In [ ]:
#Q1.print odd numbers in a list.
odd_list=[]
for no in range(1,5):
  odd_user_input=int(input("enter a number to check if its odd or not: "))
  if(odd_user_input%2!=0):
   odd_list.append(odd_user_input)
print("odd numbers in a list is: ",odd_list)

enter a number to check if its odd or not: 2
enter a number to check if its odd or not: 3
enter a number to check if its odd or not: 4
enter a number to check if its odd or not: 5
odd numbers in a list is:  [3, 5]

In [ ]:
#Q2: sum of list elements:
	
s=[2,3,4,6]
s1=0

for ss in range(4):
	s1+=s[ss]
	
print('sum of number in list is: ', s1)

sum of number in list is:  15

In [ ]:
#Q3.
list=["asim","malik","yousuf","ali"]
list.reverse()
print(list)

#applying slicing.
print("applying slicing to reverse the list: ",list[::-1])

['ali', 'yousuf', 'malik', 'asim']
applying slicing to reverse the list:  ['asim', 'malik', 'yousuf', 'ali']

In [ ]:
# Q4.finding top two max numbers in alist

lst=[2,4,8,3,4,5]

for listt in range(6):
	if lst[listt] == lst[2]:
		print('the first highest number is: ', lst[listt])
	elif  lst[listt] == lst[5]:
		print('the second highest number is: ', lst[listt])

the first highest number is:  8
the second highest number is:  5

In [ ]:
# Q5.
lst=[2,4,8,3,4,5]

for listt in range(6):
	if  lst[listt] == lst[5]:
		print('the second highest number in an integer list is: ', lst[listt])

the second highest number in an integer list is:  5

In [ ]:
#Q6.using sort reverse the list.

list=["malik","asim","yousuf","ali"]
list.sort(reverse=True)
print("the list using reverse method: ",list)

the list using reverse method:  ['yousuf', 'malik', 'asim', 'ali']

In [ ]:
#Q7.
characters="asim mlik"

for repeat in range(len(characters)):
 if characters[repeat]!=characters[3] :
 	print(characters[repeat])

a
s
i

l
i
k

In [ ]:
#Q8.entered character is a vowel or consonant.

string=input("enter a vowel character: ")
vowel='a' or 'e' or 'i' or 'o' or 'u'
if string==vowel:
	print("\nentered character is a vowel.")
elif string!=vowel:
	print("\nentered character is a consonant.")

enter a vowel character: d

entered character is a consonant.

In [ ]:
# Q9.merge two list in one list.

lst_1=["abresh","laraib","sania"]
print(lst_1)

lst_2=["areej","asim","aali"]
print(lst_2)

lst_1.append(lst_2)
print('\nthe list appended in one list: ',lst_1)

['abresh', 'laraib', 'sania']
['areej', 'asim', 'aali']

the list appended in one list:  ['abresh', 'laraib', 'sania', ['areej', 'asim', 'aali']]

In [ ]:
 #Q10.finding factorial
factorial_number= int(input("enter number to find a factorial: "))

num_1=1
for num in range(1, factorial_number+1):
	num_1*=num
print(num_1)

enter number to find a factorial: 8
40320