In [ ]:
#Q1.print odd numbers in a list.

odd_numbers=[3,4,5,6,7]
for num in range(5):
  if odd_numbers[num]%2!=0:
   print("the numbers are odd:", odd_numbers[num])

the numbers are odd: 3
the numbers are odd: 5
the numbers are odd: 7

In [ ]:
#Q2: sum of list elements:
	
s=[2,3,4,6]
s1=0

for ss in range(4):
	s1+=s[ss]
	
print('sum of number in list is: ', s1)

sum of number in list is:  15

In [ ]:
#Q3.
list=["asim","malik","yousuf","ali"]
list.reverse()
print(list)

sorted(list,reverse=True)
print('\nthe sorted reverse list is: ', list)

['ali', 'yousuf', 'malik', 'asim']

the sorted reverse list is:  ['ali', 'yousuf', 'malik', 'asim']

In [ ]:
# Q4.finding top two max numbers in alist

lst=[2,4,8,3,4,5]

for listt in range(6):
	if lst[listt] == lst[2]:
		print('the first highest number is: ', lst[listt])
	elif  lst[listt] == lst[5]:
		print('the second highest number is: ', lst[listt])

the first highest number is:  8
the second highest number is:  5

In [ ]:
# Q5.
lst=[2,4,8,3,4,5]

for listt in range(6):
	if  lst[listt] == lst[5]:
		print('the second highest number in an integer list is: ', lst[listt])

the second highest number in an integer list is:  5

In [ ]:
#Q6.using sort reverse the list.

list=["malik","asim","yousuf","ali"]

list.sort(reverse=True)
print('\nthe sorted reverse list is: ', list)

the sorted reverse list is:  ['yousuf', 'malik', 'asim', 'ali']

In [ ]:
#Q7.
characters="asimmalik"

for repeat in range(len(characters)):
 if characters[repeat]!=characters[1]:
 	print(characters[repeat])

a
i
m
m
a
l
i
k

In [ ]:
#Q8.entered character is a vowel or consonant.

string=input("enter a vowel character: ")
if string=='a' or 'e' or 'i' or 'o' or 'u':
	print("\nentered character is a vowel.")
elif string!=vowel:
	print("\nentered character is a consonant.")

enter a vowel character: aeiou

entered character is a vowel.

In [ ]:
# Q9.merge two list in one list.

lst_1=["abresh","laraib","sania"]
print(lst_1)

lst_2=["areej","asim","aali"]
print(lst_2)

lst_1.append(lst_2)
print('\nthe list appended in one list: ',lst_1)

['abresh', 'laraib', 'sania']
['areej', 'asim', 'aali']

the list appended in one list:  ['abresh', 'laraib', 'sania', ['areej', 'asim', 'aali']]

In [ ]:
 #Q10.finding factorial
factorial_number= int(input("enter number to find a factorial: "))

num_1=1
for num in range(1, factorial_number+1):
	num_1*=num
print(num_1)

enter number to find a factorial: 34
295232799039604140847618609643520000000